.hero {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.hero-container-avatar {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
.hero-info-style {
    font-size: 14px;
}
.reward-value{
    color: var(--reward);
    text-shadow: 0 0 2px #000;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
}