:root{
    --first-color: #f4f3f3;
    --second-color: #dfdfdf;
    --third-color: #bfd8d5;
    --fourth-color: #b1bed5;
    --first-font-color: #000;
    --second-font-color: #000;
    --third-font-color: #000;
    --fourth-font-color: #000;

    --reward: #ffa41b; /*reward*/

    --green: #66B869; /*complete - success*/
    --red: #CC5858; /*reject*/
    --yellow: #ffc93c;/*pending - create*/ 
    --blue: #00909e; /*progress*/
    --gray: #f2f6f5; /*opened - cancel*/

}

body,
html,
#root,
#app{
    padding: 0;
    margin: 0;
    height: 100%;
}

#root{
    background-color: var(--first-color);
    color: var(--first-font-color);
}

#app{
    font-family: 'Fira Code';
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.app-container {
    flex-basis: 50%;
    flex-grow: 1;
    overflow: hidden;
}

.header-title {
    margin: 0 0 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.header-extratext {
    margin: 0;
    font-size: 14px;
    font-style: italic;
    opacity: .7;
    font-weight: 100;
}
.btn {
    position: relative;
    top: 0;
    padding: 10px;
    border-radius: 5px;
    border-color: #fff;
    border-style: solid;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Fira Code";
    transition: .3s;
    box-shadow: 0 6px 0 -2px #aaa, 0 6px 0 0 #fff;
}
.btn.icon{
    width: 44px;
    height: 44px;
}
.btn:hover,
.btn:focus {
    outline: none;
    box-shadow: 0 3px 0 0px #fff;
    top: 3px;
}
.btn:focus {

}
.btn.cancel {
    color: #000;
    background-color: var(--gray);
}
.btn.success {
    color: #fff;
    background-color: var(--green);
}
.btn.reject {
    color: #fff;
    background-color: var(--red);
}
.btn.create{
    color: #000;
    background-color:  var(--yellow);
}

.super-btn {
    position: relative;
    top: 0;
    padding: 15px;
    border-radius: 5px;
    border-color: #fff;
    border-style: solid;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Fira Code";
    transition: .3s;
    box-shadow: 0 6px 0 -2px #aaa, 0 6px 0 0 #fff;
}
.super-btn:focus {
    outline: none;
    box-shadow: 0 3px 0 0px #fff;
    top: 3px;
}
.super-btn.create {
    background-color: var(--yellow);
    color: #000;
}

.super-btn.open {
    background-color: var(--blue);
    color: #fff;
}
