:root{
    --first-color: #382933;
    --second-color: #3b5249;
    --third-color: #519872;
    --fourth-color: #a4b494;
    --first-font-color: #fff;
    --second-font-color: #fff;
    --third-font-color: #000;
    --fourth-font-color: #000;
}

body,
html,
#root{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Fira Code';
    overflow: hidden;
}
